.Dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.DialogsItems {

    padding: 100px;
}

.DialogsItems .active{
    text-decoration-color: gold;
}

.messages {
    padding: 10px
}



