.header {
    display: flex;
    background-color: rgba(86, 113, 115, 0.65);
    min-width: 900px;
    justify-content: space-between;
}

.header img {
    width: 100px;
    height: 60px;
}

.authBlock {

}