.nav {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    min-height: 100vh;
    background-color: rgb(71, 51, 161);
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}